@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f0f0;
}

body.homepage {
  background-image: url(./src/background/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
}

.navbar-sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(78, 78, 240);
  color: black;
}

.navbar-sticky a {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  color: black;
  text-decoration: none;
  margin-right: 0.9375rem;
}

.navbar-sticky a:hover {
  text-decoration: underline;
}

.navbar-sticky button {
  margin: 0 0.625rem;
  padding: 0.5rem 1rem;
  background-color: rgb(78, 78, 240);
  color: black;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}
.navbar-sticky button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container {
    padding: 0.8rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }
}
