.cart-container {
  color: black;
  font-family: "Montez", cursive;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding-top: 4rem;
}

.cart-title {
  margin-bottom: 20px;
  font-size: 7rem;
  margin-top: 100px;
  text-align: center;
}

.cart-empty {
  text-align: center;
  margin-top: 20px;
  font-size: 1.75rem;
}

.cart-list {
  list-style: none;
  padding: 0;
}

p.MuiTypography-root.MuiTypography-body1.css-18-MuiTypography-root {
  text-align: center;
  margin-top: 80px;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item-avatar {
  margin-right: 10px;
}

.cart-item-text {
  flex-grow: 1;
}

.cart-item-primary {
  font-size: 4rem;
}

.cart-item-secondary {
  font-size: 1.25rem;
}

.cart-summary {
  margin-top: 20px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .cart-title {
    font-size: 4rem;
    margin-top: 50px;
  }

  .cart-empty {
    font-size: 3rem;
  }

  .cart-item-primary {
    font-size: 2.5rem;
  }

  .cart-item-secondary {
    font-size: 2rem;
  }

  .cart-summary {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .cart-title {
    font-size: 3rem;
    margin-top: 30px;
  }

  .cart-empty {
    font-size: 2rem;
  }

  .cart-item-primary {
    font-size: 2rem;
  }

  .cart-item-secondary {
    font-size: 1.5rem;
  }

  .cart-summary {
    font-size: 1rem;
  }
}
