.product-detail-container {
  display: flex;
  flex-direction: column;
  
  font-family: 'Montez', cursive;
  text-align: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: white;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  width: 100%;
  max-width: 800px;
  min-height: 100vh !important; 
  box-sizing: border-box;
  padding-top: 4rem; 
  padding: 1rem;
  margin: 0 auto;
}

.product-detail-image {
  width: 25% !important;
  height: 25% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  object-fit: contain;
}

.product-detail-title {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin-top: 2rem;
}

.product-detail-description {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

@media (max-width: 768px) {
  .product-detail-container {
    font-size: 1.8rem;
    width: 100% !important; 
    margin: 0 !important; 
    padding: 0.5rem;
  }

  .product-detail-image {
    width: 35% !important;
    height: 35% !important;
    display: block;
    object-fit: contain;
  }

  .product-detail-title {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
  }

  .product-detail-description {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }
}

@media (max-width: 600px) {
  .product-detail-container {
    font-size: 1rem;
    width: 100% !important; 
    margin: 0 !important; 
    padding: 0.5rem;
  }

  .product-detail-image {
    width: 70% !important;
    height: auto !important;
    display: block;
    object-fit: contain;
  }

  .product-detail-title {
    font-size: 2rem;
    margin-top: 5rem;
  }

  .product-detail-description {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .product-detail-container {
    font-size: 0.8rem;
    width: 100% !important; 
    margin: 0 !important; 
    padding: 0.5rem;
  }

  .product-detail-image {
    width: 80% !important;
    height: auto !important;
    display: block;
    object-fit: contain;
  }

  .product-detail-title {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-top: 3rem;
  }

  .product-detail-description {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
  }
}